body,
html,
* {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", sans-serif !important;
}
span {
  font-weight: 350 !important;
}
[class="x889kno x1xnnf8n x1a8lsjc x106a9eq"] {
  opacity: 0.2;
}
